<nav class="navbar navbar-light" style="background-color: #394867">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" style="color: #f1f6f9" href="">
      <img src="/public/img/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top" />
      Voting App
    </a>
  </div>
</nav>
